<div class="row">
	<div class="twelve columns">
		<p class="color">I am currently interested in work involving interaction and user experience design. I also specialize in front-end development and graphic design. Thanks for visiting my portfolio. If you are interested in working with me please email me at JenningsHanna at gmail dot com or tweet me <a href="https://twitter.com/jenningshanna" target="_blank">@jenningshanna</a>. You may also want to browse my extended portfolio <a href="http://portfolio.jenningshanna.com/" target="_blank">here</a>.
		</p>
		<p class="color">Thanks for visiting!</p>
	</div>
</div>