<header>		
		<div class="row">
			<div class="twelve columns">
		<p class="color"><img src="assets/images/jennings-profile.jpeg"> 
		Hi. I'm <span class="name">Jennings Hanna</span>. I design experiences, interactions, and strategies &mdash; I'm a professional pencil grinder, interviewer, creative ponderer, innovator, and storyteller. Most of all I enjoy sharing creative processes with others through facilitating workshops around content strategy, service design, and interaction design.</p>
			</div>
		</div>
</header>