@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600);
html {
  width: 100%;
  height: 100%; }

body {
  background-color: #f1f1f1;
  font: 100% 'Open Sans', 'Muli', 'lucida grande', 'sans-serif';
  font-weight: 400;
  font-size: 20px;
  -webkit-font-smoothing: antialiased; }
  
.top {padding-top: 25px; }

.container {max-width: 800px;}

p {
  color: #aaaaaa;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 1px; }
  p img {
    float: left;
    margin-right: 2rem;
    border-radius: 50%;
    -webkit-shape-outside: circle();
    shape-outside: circle(); }
  p span.name {
    font-weight: 600;
    background-color: #FFF;
    padding: 2px 3px; }

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 20px;
  color: #c5a553; }

a {
  font-style: italic;
  text-decoration: none;
  color: #aaaaaa; }
  a:active, a:visited, a:link {
    text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #aaaaaa;
    background-color: rgba(255, 255, 255, 0.72); }

ul {
  list-style: none;
  padding: 0px 20px 20px 20px;
  margin: 0;
  font-size: 15px;
  line-height: 24px; }

li {
  padding-left: 5%;
  padding-right: 5%;
  text-indent: -7px; }

li:before {
  content: "... ";
  color: #aaaaaa; }

small {
  font-size: 10px; }

div.content {
  margin: auto 20%; }

@media (max-width: 480px) {
  div.content {
    margin: auto 2%; }
  p, ul {}
  a:link {
    text-decoration: underline; }
  li {
    font-size: 15px;
    padding-left: 2%; } }
