@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600);
html {
  width: 100%;
  height: 100%; }

body {
  background-color: #f1f1f1;
  font: 100% 'Open Sans', 'Muli', 'lucida grande', 'sans-serif';
  font-weight: 400;
  font-size: 20px;
  -webkit-font-smoothing: antialiased; }
  
.top {padding-top: 25px; }

.container {max-width: 800px;}

img {max-width: 100%; 
display:block; 
height: auto;}

p {
  color: #aaaaaa;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 1px; }
  p img {
    float: left;
    margin-right: 2rem;
    border-radius: 50%;
    -webkit-shape-outside: circle();
    shape-outside: circle(); 
    border: 3px solid #fafafa;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
  p span.name {
    font-weight: 600;
    background-color: #FFF;
    padding: 2px 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 20px;
  color: #c5a553; }

a {
  font-style: italic;
  text-decoration: none;
  color: #aaaaaa;}
  a:active, a:visited, a:link {
    text-decoration: none;
    color: #aaaaaa; }
  a:hover {
    text-decoration: none;
    color: #aaaaaa;
    background-color: rgba(255, 255, 255, 0.72); }

ul {
  list-style: none;
  padding: 0px 20px 20px 20px;
  margin: 0;
  font-size: 15px;
  line-height: 24px; }

li {text-indent: -7px; }

li:before {
  content: "... ";
  color: #aaaaaa; }

small {
  font-size: 10px; }

div.content {
  margin: auto 20%; }

@media (max-width: 480px) {
  div.content {
    margin: auto 2%; }
  p, ul {}
  a:link {
    text-decoration: underline; }
  li {
    font-size: 15px;
    padding-left: 2%; } 
  div.super-bowl, div.cornell, div.deja, div.thesis, div.cfa {background-position: 79% 19%}
  div.row-padding {padding-bottom: 0px;}
  }
  
div.switcher {position: absolute; top: 0; left: 86.9%; background-color: black; height: 0px; color: white; z-index: 9999;}

div.switcher a:hover {color: white; background-color: transparent}

div.portfolio-cards a {background-color: #fafafa;}

div.row-padding {padding-bottom: 25px;}

div.card {height: 150px; 
	border: 3px solid #fafafa; 
	padding: 15px 5px; 
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cornell {background: url("images/cornell-portfolio.png") no-repeat}
.super-bowl {background: url("images/super-bowl-portfolio.png") no-repeat}
.deja {background: url("images/Deja-vu-portfolio.png") no-repeat}
.spiral {background: url("images/spiral-portfolio.jpg") no-repeat 72% 19%}
.cfa {background: url("images/cfa-abq-portfolio.png") no-repeat 80% -45%}
.thesis {background: url("images/thesis-portfolio.png") no-repeat 80% 0%}
.etsy {background: url("images/etsy-portfolio.png") no-repeat 80% 0%}